* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto';
}

.container{
    position: absolute;
    width: 100vw;
    height: 100%;
    display: grid;
    grid-template-columns: auto 25vw ;
    overflow: hidden;
}

#bars{
    display: none;
}

#toggleInfo{
    display: none;
}

#left-bar{
    background: #0F0F13;
    padding: 1.181vw 2.362vw;
    color: #f5f5f5;
    /* text-align: center; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
}

#left-bar h2{
    /* text-align: center; */
    margin-bottom: 4.724vw;
    font-size: 1.890vw;
}

#left-bar #online{
    color: #b6b6b6;
    font-size: 1.417vw;
    margin-bottom: 1.575vw;
}

#left-bar #online i{
    color: #00ff00;
    font-size: 0.945vw;
    margin-right: 0.787vw;
    text-shadow: 0 0 0.787vw #00ff00;
}

#left-bar #messages-received{
    color: #b6b6b6;
    font-size: 1.417vw;
    margin-bottom: 1.575vw;
}

#left-bar #messages-received i{
    color: #f1f1f1;
    font-size: 1.181vw;
    margin-right: 0.787vw;
    text-shadow: 0 0 0.787vw #f1f1f1;
}

#left-bar #credits a{
    text-decoration: none;
    color: inherit;
}

#left-bar #credits a:hover{
    text-decoration: underline;
}

#left-bar #credits h3{
    color: #b6b6b6;
    font-size: 1.417vw;
    margin-bottom: 1.575vw;
}

#left-bar #credits h3 i{
    color: #f1f1f1;
    font-size: 1.732vw;
    margin-right: 0.787vw;
    /* text-shadow: 0 0 0.394vw #f1f1f1; */
}

#chat-area{
    background: #222429;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 75vw;
}

#initialMessage{
    height: 64px;
    width: 100%;
    display: none;
}

#messages{
    max-height: 88vh;
    overflow-y: scroll;
}

::-webkit-scrollbar{
    display: none;
}

#messages .message{
    padding: 1.575vw;
    padding-left: 3.937vw;
    min-height: 7.874vw;
    /* border: 0.079vw solid #ddd; */
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    /* justify-content: center; */
}

#messages .message .user-image{
    margin-right: 1.575vw;
}

#messages .message .user-image i{
    font-size: 3.543vw;
    color: #8E9094;

}

#messages .message::before{
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 90%;
    height: 0.079vw;
    background: #5F5F61;
    border-radius: 3.937vw;
}


#messages .message h2{
    color: #fff;
    font-size: 1.575vw;
    margin-bottom: 0.787vw;
}

#messages .message h2 span{
    font-size: 0.8vw;
    margin-left: 0.700vw;
    color: #ddd;
    font-weight: 400;
}

#messages .message p{
    color: #8E9094;
    padding-left: 0.551vw;
    word-break: break-all;
}

#send-messages {
    height: 12vh;
    background: #141419;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

#send-messages input{
    width: 98%;
    height: 70%;
    background: #333539;
    border: 0.157vw solid #646464;
    outline: none;
    border-radius: 0.787vw;
    font-size: 1.417vw;
    padding-left: 1.181vw;
    color: #f5f5f5;
}

#send-messages button{
    width: 0;
    height: 0;
    opacity: 0;
}

#send-messages i{
    position: absolute;
    right: 3%;
    font-size: 1.969vw;
    color: #8E9094;
    cursor: pointer;
}

#send-messages i:hover{
    color: #fff;
}

#enter-user{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: grid;
    place-items: center;
    z-index: 1000000000;
    background: #222429;
    display: none;
}

#enter-user.active{
    display: grid;
}

#enter-user .content{
    height: 70vh;
    width: 45vw;
    background: #141419;
    box-shadow: 0 0 2.362vw #000;
    border-radius: 1.181vw;
    color: #f1f1f1;
    padding: 3.937vw 1.969vw;
}

#enter-user .content h1{
    font-family: 'Ubuntu', sans-serif;
    margin-bottom: 3.150vw;
}

#enter-user .content p{
    font-size: 1.260vw;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 300;
    color: #ddd;
    letter-spacing: 0.039vw;
}

#enter-user .content input{
    width: 100%;
    height: 3.937vw;
    font-size: 1.575vw;
    border: 0.157vw solid #0F0F13;
    outline: none;
    background: #8e90945b;
    border-radius: 0.787vw;
    padding:0 1.575vw;
    margin-top: 0.787vw;
    /* color: #fff; */
    font-weight: 500;
    letter-spacing: 0.079vw;
}

#enter-user .content button{
    margin-top: 2.362vw;
    border: none;
    /* outline: none; */
    outline-color: #fff;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    padding: 1.181vw 3.150vw;
    background: #262626;
    font-size: 1.417vw;
    color: #f1f1f1;
    border-radius: 0.394vw;
    cursor: pointer;
}

@media (max-width: 768px){
   .container{
    grid-template-columns: 100vw 0;
   }

    #toggleInfo{
        display: block;
        color: #fff;
        font-size: 27px;
        position: absolute;
        right: 15px;
        top: 15px;
        width: 34px;
        height: 34px;
        display: grid;
        place-items: center;
        z-index: 100000000;
    }

    #left-bar{
        position: absolute;
        top: 0;
        right: 0;
        height: 100%;
        width: 80vw;
        transform: scaleX(0);
        transition: 0.5s;
        transform-origin: right;
        padding: 15px 25px;
    }

    #left-bar.active{
        transform: scaleX(1);
    }

    #left-bar h2{
        font-size: 22px;
        margin-bottom: 35px;
    }

    #left-bar #online{
        font-size: 16px;
        margin-bottom: 25px;
    }

    #left-bar #online i{
        font-size: 13px;
        margin-right: 12px;
        text-shadow: 0 0 12px #00ff00;

    }

    #left-bar #messages-received{
        font-size: 16px;
        margin-bottom: 25px;
    }

    #left-bar #messages-received i{
        font-size: 13px;
        margin-right: 12px;
        text-shadow: 0 0 12px #f1f1f1;
    }
    
    #left-bar #credits h3{
        font-size: 16px;
        margin-bottom: 22px;
        display: flex;
        align-items: center;
    }

    #left-bar #credits h3 i{
        font-size: 20px;
        margin-right: 12px;
    }

    #chat-area{
        transition: 0.5s;
        /* padding-top: 64px; */
        max-width: 100vw;
    }

   #chat-area.active{
    transform: translateX(-80vw);
   }

    #messages{
        max-height: 90vh;
    }

    #initialMessage{
        display: block;
    }

    #messages .message{
        padding: 15px 5px;
        padding-left: 10%;
        height: auto;
        min-height: 75px;
        position: relative;
    }

    #messages .message .user-image{
        margin-right: 20px;
    }
    
    #messages .message .user-image i{
        font-size: 45px;
        color: #8E9094;
    
    }

    #messages .message h2{
        font-size: 16px;
        margin-bottom: 10px;
    }
    
    #messages .message h2 span{
        font-size: 9px;
        margin-left: 5px;
        color: rgb(182, 182, 182);
    }

    #messages .message p{
        padding: 0;
        padding-right: 15px;
    }

    #send-messages {
        height: 10vh;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        position: relative;
    }

    #send-messages input{
        width: 80%;
        height: 100%;
        background: transparent;
        border: none;
        
        font-size: 16px;
        padding-left: 25px;
    }

    #send-messages i{
        position: absolute;
        right: 30px;
        font-size: 20px;
        color: #8E9094;
        cursor: pointer;
    }
    
    #send-messages i:hover{
        color: #fff;
    }

    #enter-user .content{
        width: 90vw;
        box-shadow: 0 0 10px #000;
        border-radius: 10px;
        padding: 40px 15px;
        display: flex;
        flex-direction: column;
        /* align-items: center; */
        justify-content: start;
    }

    #enter-user .content h1{
        font-size: 25px;
        margin-bottom: 35px;
    }

    #enter-user .content p{
        font-size: 16px;
        letter-spacing: 1px;
    }

    #enter-user .content input{
        width: 100%;
        height: 45px;
        font-size: 20px;
        border: 2px solid #0F0F13;
        background: #8e90945b;
        border-radius: 10px;
        padding: 0 17px;
        margin-top: 10px;
        /* color: #fff; */
        font-weight: 500;
        letter-spacing: 1px;
    }

    #enter-user .content button{
        margin-top: 30px;
        border: none;
        /* outline: none; */
        outline-color: #fff;
        padding: 20px 30px;
        background: #262626;
        /* background: #0000a8; */
        font-size: 18px;
        color: #f1f1f1;
        border-radius: 10px;
        cursor: pointer;
    }
}